<h3>Olá, {{ nome }}</h3>
<br/>
<strong>Recuperação de senha</strong>
<br/>
<p>Uma solicitação de recuperação de senha foi realizada para o e-mail ({{ email }}).
      Se não foi você que enviou a solicitação, sugiro que troque sua senha.</p>

<p>Para fazer a recuperação de senha, clique no link abaixo:</p>

<a href="{{ link }}">Criar nova senha</a>

<hr/>
<br/>
<strong>NÃO RESPONDA ESSE E-MAIL</strong>
<br/>
<hr/>
<br/>
<h2>Equipe CBR</h2>